md-bottom-sheet.md-grid
    md-list
        md-item(ng-repeat="item in items")
            md-button.md-grid-item-content(ng-click="listItemClick($index)")
                md-icon(md-svg-src="{{item.icon}}")
                div.md-grid-text
                    {{item.name}}